{% extends 'base.html' %}
{% load static %}
{% load render_partial %}
{% load thumbnail %}

{% block content %}


    <div class="page-title lb single-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <h2><i class="fa fa-star bg-orange"></i> Author by: Jessica</h2>
                </div><!-- end col -->
                <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Author</a></li>
                        <li class="breadcrumb-item active">Jessica</li>
                    </ol>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end page-title -->




    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-wrapper">

                        <div class="custombox authorbox clearfix">
                            <h4 class="small-title">About user</h4>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                    {% thumbnail user_page.avatar "100x100" crop="center" as im %}
                                        <img src="{{ im.url }}" class="img-fluid rounded-circle" width="100px"
                                             height="100px">
                                    {% empty %}
                                        <img src="{% static 'upload/default-user-avatar.jpg' %}" alt=""
                                             class="img-fluid rounded-circle" width="100px" height="100px">
                                    {% endthumbnail %}
                                </div><!-- end col -->

                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                    {% if user_page.get_full_name %}
                                        <h4><a href="#">{{ user_page.get_full_name }}</a></h4>
                                    {% else %}
                                        <h4><a href="#">{{ user_page.email }}</a></h4>
                                    {% endif %}

                                    <!-- un/follow section -->
                                
                                    {% with total_followers=user_page.followers.count %}
                                        <span class="count">
                                        <span class="total">{{ total_followers }}</span>
                                        follower{{ total_followers|pluralize }}
                                        </span>
                                        <button href="#"
                                                value="{{ user_page.id }}"
                                                data-faction="{% if request.user in user_page.followers.all %}un{% endif %}follow"
                                                class="btn btn-primary pull-right"
                                                id="follow-button">
                                            {% if request.user not in user_page.followers.all %}
                                                Follow
                                            {% else %}
                                                Unfollow
                                            {% endif %}
                                        </button>
                                    {% endwith %}

                                    <!-- end of un/follow section -->
                                
                                    {% if user_page.biography %}
                                        <br><br>
                                        <p>{{ user_page.biography }}</p>
                                    {% else %}
                                        <br><br>
                                        <p> The user hasn't completed the biography section yet.</p>

                                    {% endif %}

                                    <div class="topsocial">
                                        <a href="#" data-toggle="tooltip" data-placement="bottom"
                                           title="Facebook"><i
                                                class="fa fa-facebook"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i
                                                class="fa fa-youtube"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i
                                                class="fa fa-pinterest"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i
                                                class="fa fa-twitter"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i
                                                class="fa fa-instagram"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Website"><i
                                                class="fa fa-link"></i></a>
                                    </div><!-- end social -->

                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end author-box -->

                        <br>
                        <div class="blog-top clearfix">
                            <h4 class="pull-left">User posts <a href="#"><i class="fa fa-rss"></i></a></h4>
                        </div><!-- end blog-top -->

                        <div class="blog-list clearfix">
                            <div class="blog-box row">
                                {% if user_page.blog_articles %}
                                    {% for post in posts %}
                                        <div class="col-md-4">
                                            <div class="post-media">
                                                <a href="{{ post.get_absolute_url }}" title="">
                                                    <img src="{{ post.cover.url }}" alt="" class="img-fluid">
                                                    <div class="hovereffect">
                                                        <span class=""></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                        </div><!-- end col -->

                                        <div class="blog-meta big-meta col-md-8">
                                            <h4><a href="{{ post.get_absolute_url }}" title="">{{ post.title }}</a></h4>
                                            <p>{{ post.body | slice:"200" }}...</p>
                                            <small><a href="{{ post.get_absolute_url }}"
                                                      title="">{{ post.created.date }}</a></small>
                                            <small><a href="">by
                                                {% if post.author.fullname %}
                                                    {{ post.author.fullname }}
                                                {% else %}
                                                    {{ post.author.email }}
                                                {% endif %}
                                            </a></small>
                                            <small><a href="{{ post.get_absolute_url }}" title=""><i
                                                    class="fa fa-eye"></i>
                                                1114</a></small>
                                            <br>
                                            {% if post.author.id == request.user.id %}
                                                <a href="{% url 'blog_update' post.slug %}"><img
                                                        src="{% static 'images/edit.png' %}" alt="edit icon"></a>
                                                <a href="{% url 'blog_delete' post.slug %}"><img
                                                        src="{% static 'images/delete.png' %}" alt="delete icon"></a>
                                            {% endif %}
                                        </div><!-- end meta -->
                                        </div><!-- end blog-box -->

                                        <hr class="invis">

                                        <div class="blog-box row">
                                    {% endfor %}
                                {% else %}
                                    <p> The user hasn't published any post yet.</p>
                                {% endif %}
                                <div class="col-md-4">

                                </div><!-- end col -->


                                <hr class="invis">


                                </div><!-- end blog-box -->
                        </div><!-- end blog-list -->
                    </div><!-- end page-wrapper -->

                    <div class="row">

                        <div class="col-md-12">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-start">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a>
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ page_obj.previous_page_number }}">previous</a>
                                    {% endif %}

                                    <span class="current">
                                    <li><b class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
                                        </b>
                                    </span>

                                    {% if page_obj.has_next %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ page_obj.next_page_number }}">next</a>
                                        <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last
                                            &raquo;</a>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end col -->


                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <!-- sidebar col -->
                    {% if user_page.id == request.user.id %}
                        {% render_partial 'app_account.views.user_dashboard_sidebar_component' %}
                    {% else %}
                        {% render_partial 'blog.views.sidebar_component' %}
                    {% endif %}
                    <!-- end sidebar col -->

                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>


{% endblock %}

{% block footer %}

    {#    <script type="text/javascript">#}
    {#        let url = '/account/user-follow/';#}
    {#        let options = {#}
    {#            method: 'POST',#}
    {#            headers: {'csrfmiddlewaretoken': {{ csrf_token }},}, {#headers: {'X-CSRFToken': csrftoken},#}
    {#            mode: 'same-origin'#}
    {#        }#}
    {#        document.querySelector('a.follow').addEventListener('click', function (e) {#}
    {#            e.preventDefault();#}
    {#            let followButton = this;#}
    {##}
    {#            // add request body#}
    {#            let formData = new FormData();#}
    {#            formData.append('id', followButton.dataset.id);#}
    {#            formData.append('action', followButton.dataset.action);#}
    {#            options['body'] = formData;#}
    {##}
    {#            // send HTTP request#}
    {#            fetch(url, options)#}
    {#                .then(response => response.json())#}
    {#                .then(data => {#}
    {#                    if (data['status'] === 'ok') {#}
    {#                        var previousAction = followButton.dataset.action;#}
    {#                        // toggle button text and data-action#}
    {#                        let action = previousAction === 'follow' ? 'unfollow' : 'follow';#}
    {#                        followButton.dataset.action = action;#}
    {#                        followButton.innerHTML = action;#}
    {#                        // update follower count#}
    {#                        let followerCount = document.querySelector('span.count .total');#}
    {#                        let totalFollowers = parseInt(followerCount.innerHTML);#}
    {#                        followerCount.innerHTML = previousAction === 'follow' ? totalFollowers + 1 : totalFollowers - 1;#}
    {#                    }#}
    {#                })#}
    {#        });#}
    {#    </script>#}

    <script type="text/javascript">

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');
        console.log(csrftoken)


        $(document).on('click', '#follow-button', function (e) {
            e.preventDefault();
            let fb = document.getElementById('follow-button')
            let x = fb.dataset.faction

            console.log(x)

            $.ajax({
                type: 'POST',
                url: '{% url "account:user_follow" %}',
                data: {
                    userid: $('#follow-button').val(),
                    followAction: fb.dataset.faction,
                    csrfmiddlewaretoken: csrftoken,
                    action: 'post',
                },
                success: function (json) {
                    console.log(json)

                    if (json['status'] === 'ok') {
                        var previousAction = fb.dataset.faction;
                        // toggle button text and data-action
                        let Newfaction = previousAction === 'follow' ? 'unfollow' : 'follow';
                        fb.dataset.faction = Newfaction;
                        fb.innerHTML = Newfaction;
                        // update follower count
                        let followerCount = document.querySelector('span.count .total');
                        let totalFollowers = parseInt(followerCount.innerHTML);
                        followerCount.innerHTML = previousAction === 'follow' ? totalFollowers + 1 : totalFollowers - 1;
                    }
                },
                error: function (xhr, errmsg, err) {
                }
            });
        })

    </script>
{% endblock footer %}