bin/
db.sqlite3
lib/
manage.py
pyvenv.cfg
__init__.py
__pycache__
.idea
venv

# images
*.jpg
*.jpeg
*.png
*.gif
*.webp

# ignore all images except static and staticfiles folder images
!static/
!staticfiles/