{% extends 'base.html' %}
{% load static %}
{% load render_partial %}
{% load thumbnail %}

{% block content %}

    <section class="section single-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-wrapper">
                        <div class="blog-title-area text-center">
                            <ol class="breadcrumb hidden-xs-down">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Blog</a></li>
                                <li class="breadcrumb-item active">{{ post.title }}</li>
                            </ol>

                            <h3>{{ post.title }}</h3>

                            <div class="blog-meta big-meta">
                                <small><a href="tech-single.html" title="">{{ post.created.date }}</a></small>
                                <small><a href="{% url 'account:user_dashboard_page' post.author.id %}">by
                                    {% if post.author.fullname %}
                                        {{ post.author.fullname }}
                                    {% else %}
                                        {{ post.author.email }}
                                    {% endif %}</a></small>
                                <small><a href="#" title=""><i class="fa fa-eye"></i> {{ post.postvisit_set.count }}</a></small>
                            </div><!-- end meta -->

                            <div class="post-sharing">
                                <ul class="list-inline">
                                    <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i>
                                        <span class="down-mobile">Share on Facebook</span></a></li>
                                    <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i>
                                        <span class="down-mobile">Tweet on Twitter</span></a></li>
                                    <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                </ul>
                                <a href="{% url 'blog_update' post.slug %}"><img src="{% static 'images/edit.png' %}"
                                                                                 alt="edit icon"></a>
                                <a href="{% url 'blog_delete' post.slug %}"><img src="{% static 'images/delete.png' %}"
                                                                                 alt="delete icon"></a>
                            </div><!-- end post-sharing -->
                        </div><!-- end title -->

                        <div class="single-post-media">
                            <img src="{{ post.cover.url }}" alt="" class="img-fluid">
                        </div><!-- end media -->

                        <div class="blog-content">
                            <div class="pp">
                                <p>{{ post.body }}</p>
                            </div><!-- end pp -->
                        </div><!-- end content -->

                        <br>

                        <!-- like section -->
                        <p>

                            {% with total_likes=post.likes.count %}
                                <span class="count">
                                <span class="total">{{ total_likes }} </span>
                                    like{{ total_likes|pluralize }}
                                </span>
                                <button value="{{ post.id }}"
                                        data-likeaction="{% if request.user in post.likes.all %}dis{% endif %}like"
                                        id="like-button">
                                    {% if request.user not in post.likes.all %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-heart" viewBox="0 0 16 16">
                                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                                        </svg>
                                    {% else %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor"
                                             class="bi bi-heart-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                        </svg>
                                    {% endif %}
                                </button>
                            {% endwith %}

                        </p>

                        <!-- end like section -->

                        <div class="">
                            <span>Tags</span>
                            <span class="tag-cloud-single">
								{% for tag in post.tags.all %}
                                    <span class=""><a href="{% url 'blog_category' tag.name %}"
                                                      title="">{{ tag }}</a></span>
                                {% endfor %}
                                </span><!-- end meta -->

                            <div class="post-sharing">
                                <ul class="list-inline">
                                    <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i>
                                        <span class="down-mobile">Share on Facebook</span></a></li>
                                    <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i>
                                        <span class="down-mobile">Tweet on Twitter</span></a></li>
                                    <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                </ul>
                            </div><!-- end post-sharing -->
                        </div><!-- end title -->


                        <hr class="invis1">

                        <div class="custombox prevnextpost clearfix">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="blog-list-widget">
                                        <div class="list-group">
                                            {% if previous_post %}
                                                <a href="{{ previous_post.get_absolute_url }}"

                                                   class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="w-100 justify-content-between text-right">
                                                        <img src="{{ previous_post.cover.url }}" alt=""
                                                             class="img-fluid float-right">
                                                        <h5 class="mb-1">{{ previous_post.title }}</h5>
                                                        <small>Prev Post</small>
                                                    </div>
                                                </a>
                                                </div>
                                            {% endif %}
                                    </div>
                                </div><!-- end col -->

                                <div class="col-lg-6">
                                    <div class="blog-list-widget">
                                        {% if next_post %}
                                            <div class="list-group">
                                                <a href="{{ next_post.get_absolute_url }}"
                                                   class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <div class="w-100 justify-content-between">
                                                        <img src="{{ next_post.cover.url }}" alt=""
                                                             class="img-fluid float-left">
                                                        <h5 class="mb-1">{{ next_post.title }}2</h5>
                                                        <small>Next Post</small>
                                                    </div>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end author-box -->

                        <hr class="invis1">

                        <div class="custombox authorbox clearfix">
                            <h4 class="small-title">About author</h4>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
{#                                    <img src="{{ post.author.avatar.url }}" alt="" class="img-fluid rounded-circle">#}
                                    {% thumbnail post.author.avatar "100x100" crop="center" as im %}
                                        <img src="{{ im.url }}" class="img-fluid rounded-circle"  width="{{ im.width }}" height="{{ im.height }}">
                                        {% empty %}
                                        <img src="{% static 'upload/default-user-avatar.jpg' %}" 
                                             class="img-fluid rounded-circle" width="{{ im.width }}" height="{{ im.height }}">
                                    {% endthumbnail %}
                                </div><!-- end col -->

                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                    <h4>
                                        <a href="{% url 'account:user_dashboard_page' post.author.id %}">{{ post.author }}</a>
                                    </h4>
                                    <p>{{ post.author.biography }}</p>

                                    <div class="topsocial">
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i
                                                class="fa fa-facebook"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i
                                                class="fa fa-youtube"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i
                                                class="fa fa-pinterest"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i
                                                class="fa fa-twitter"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i
                                                class="fa fa-instagram"></i></a>
                                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Website"><i
                                                class="fa fa-link"></i></a>
                                    </div><!-- end social -->

                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end author-box -->

                        <hr class="invis1">

                        <div class="custombox clearfix">
                            <h4 class="small-title">You may also like</h4>
                            <div class="row">
                                {% for post in similar_posts %}
                                    <div class="col-lg-6">
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="{{ post.get_absolute_url }}" title="">
                                                    <img src="{{ post.cover.url }}" alt="" class="img-fluid">
                                                    <div class="hovereffect">
                                                        <span class=""></span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta">
                                                <h4><a href="{{ post.get_absolute_url }}" title="">{{ post.title }}</a>
                                                </h4>
                                                <small><a href="{{ post.get_absolute_url }}"
                                                          title="">{{ post.created.date }}</a></small>
                                                {#                                                <small><a href="{% url 'account:user_dashboard_page' post.author.id %}">by#}
                                                {#                                                    {% if post.author.fullname %}#}
                                                {#                                                        {{ post.author.fullname }}#}
                                                {#                                                    {% else %}#}
                                                {#                                                        {{ post.author.email }}#}
                                                {#                                                    {% endif %}</a></small>#}
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                    </div><!-- end col -->

                                {% endfor %}
                            </div><!-- end row -->
                        </div><!-- end custom-box -->

                        <hr class="invis1">

                        <div class="custombox clearfix">
                            <div class="">
                                <div class="">
                                    <div class="">
                                        <div class="">
                                            <h3>Leave a comment:</h3>
                                            <form method="post" class="form-wrapper">
                                                {% csrf_token %}
                                                <div>
                                                    {{ form.author }}
                                                </div>
                                                <div>
                                                    {{ form.body }}
                                                </div>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>

                                            <br>

                                            <div class="custombox clearfix">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="comments-list">
                                                            <h3>Comments:</h3>
                                                            <br>
                                                            <div class="media-left">
                                                                {% for comment in comments %}
                                                                    <p>
                                                                        <img src="{% static 'images/avatar.png' %}"
                                                                             alt="" class="rounded-circle">
                                                                    <h4 class="media-heading user_name">
                                                                        <b>{{ comment.author }}</b><small>On {{ comment.created_on.date }}
                                                                        Wrote:</small></h4>
                                                                    </p>
                                                                    <p>
                                                                        {{ comment.body | linebreaks }}
                                                                    <hr class="invis1">
                                                                    </p>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end custom-box -->

                        <hr class="invis1">

                        <div class="clearfix">

                            <div class="row">
                            </div>
                        </div>
                    </div><!-- end page-wrapper -->
                </div><!-- end col -->

                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">

                    {% render_partial 'blog.views.sidebar_component' %}

                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>

{% endblock %}

{% block footer %}

    <script type="text/javascript">
        {#Like a post by ajax#}
        $(document).on('click', '#like-button', function (e) {
            e.preventDefault();
            let likeButton = document.getElementById('like-button')
            $.ajax({
                type: 'POST',
                url: '/like-post/',
                data: {
                    postid: $('#like-button').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post',
                    likeAction: likeButton.dataset.likeaction
                },
                success: function (json) {
                    if (json['status'] === 'ok') {
                        var previousAction = likeButton.dataset.likeaction;
                        // toggle button text and data-action
                        let NewLikeAction = previousAction === 'like' ? 'dislike' : 'like';
                        likeButton.dataset.likeaction = NewLikeAction;
                        {#likeButton.innerHTML = NewLikeAction;#}
                        if (NewLikeAction === 'like') {
                            likeButton.innerHTML = ` <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor"
                                                        class="bi bi-heart" viewBox="0 0 16 16">
                                <path
                                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                            </svg>`

                        } else (NewLikeAction === 'dislike')
                        {
                            likeButton.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor"
                                                        class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                            </svg>`
                        }
                        // update follower count
                        let likeCount = document.querySelector('span.count .total');
                        let totalLikes = parseInt(likeCount.innerHTML);
                        likeCount.innerHTML = previousAction === 'like' ? totalLikes + 1 : totalLikes - 1;
                        console.log(json)
                    }
                },
                error: function (xhr, errmsg, err) {
                }
            });
        })

    </script>
{% endblock footer %}
