{% extends 'base.html' %}
{% load static %}
{% load render_partial %}
{% load thumbnail %}

{% block content %}

    <section class="section first-section">
        <div class="container-fluid">
            <div class="masonry-blog clearfix">
                {% for favorite_post in favorite_posts %}
                    <div class="first-slot">
                        <div class="masonry-box post-media">
                            {% thumbnail favorite_post.cover "150x80" crop='center' quality=100 as im %}
                                <img src="{{ im.url }}" class="img-fluid" width="{{ im.width }}"
                                     height="{{ im.height }}">
                            {% endthumbnail %}
                            {#                            <img src="{{ favorite_post.cover.url }}" alt="" class="img-fluid" width="150" height="80">#}
                            <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <h4><a href="{{ favorite_post.get_absolute_url }}"
                                               title="">{{ favorite_post.title }}</a></h4>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end first-side -->
                {% endfor %}
            </div><!-- end masonry -->
        </div>
    </section>

    <section class="section">

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="container">
            <div class="row">

                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-wrapper">
                        <div class="blog-top clearfix">
                            <h4 class="pull-left">Recent News <a href="#"><i class="fa fa-rss"></i></a></h4>
                        </div><!-- end blog-top -->
                        <div class="blog-list clearfix">
                            <div class="blog-box row">
                                {% for post in page_obj %}
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="{{ post.get_absolute_url }}" title="">

                                                {% thumbnail post.cover "100x80" crop="center" quality=100 as im %}
                                                    <img src="{{ im.url }}" class="img-fluid" width="{{ im.width }}"
                                                         height="{{ im.height }}">
                                                {% endthumbnail %}
                                                <div class="hovereffect">
                                                    <span class=""></span>
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="{{ post.get_absolute_url }}" title="">{{ post.title }}</a></h4>
                                        <p>{{ post.body | slice:"300" }}...</p>
                                        <small><a href="{{ post.get_absolute_url }}"
                                                  title="">{{ post.created.date }}</a></small>
                                        <small><a href="{% url 'account:user_dashboard_page' post.author.id %}">by
                                                {{ post.author }}
                                        </a></small>
                                        <small><a href="{{ post.get_absolute_url }}" title=""><i class="fa fa-eye"></i>
                                            {{ post.visit_count }}</a></small>
                                        <br>
                                        {% if post.author.id == request.user.id %}

                                            <a href="{% url 'blog_update' post.slug %}"><img
                                                    src="{% static 'images/edit.png' %}" alt="edit icon"></a>
                                            <a href="{% url 'blog_delete' post.slug %}"><img
                                                    src="{% static 'images/delete.png' %}" alt="delete icon"></a>
                                        {% endif %}
                                    </div><!-- end meta -->
                                    </div><!-- end blog-box -->

                                    <hr class="invis">

                                    <div class="blog-box row">
                                {% endfor %}

                                <div class="col-md-4">

                                </div><!-- end col -->


                                <hr class="invis">


                                </div><!-- end blog-box -->
                        </div><!-- end blog-list -->
                    </div><!-- end page-wrapper -->

                    <div class="row">

                        <div class="col-md-12">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-start">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a>
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ page_obj.previous_page_number }}">previous</a>
                                    {% endif %}

                                    <span class="current">
				            <li><b class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</li>
                                        </b>
				        </span>

                                    {% if page_obj.has_next %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ page_obj.next_page_number }}">next</a>
                                        <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last
                                            &raquo;</a>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end col -->


                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">

                    {% render_partial 'blog.views.sidebar_component' %}


                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>

{% endblock %}
