{% extends 'base.html' %}
{% load static %}
{% load render_partial %}


{% block content %}

    <section class="section first-section">
        <div class="container-fluid">
            <div class="masonry-blog clearfix">
                <div class="first-slot">
                    <div class="masonry-box post-media">
                        <img src="{% static 'upload/tech_01.jpg' %}" alt="" class="img-fluid">
                        <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    <span class="bg-orange"><a href="{% url 'blog_category_02' %}"
                                                               title="">Technology</a></span>
                                    <h4><a href="tech-single.html" title="">Say hello to real handmade office furniture!
                                        Clean & beautiful design</a></h4>
                                    <small><a href="tech-single.html" title="">24 July, 2017</a></small>
                                    <small><a href="{{ request.user.get_absolute_url }}" title="">by Amanda</a></small>
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div><!-- end first-side -->


                <div class="second-slot">
                    <div class="masonry-box post-media">
                        <img src="{% static 'upload/tech_02.jpg' %}" alt="" class="img-fluid">
                        <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    <span class="bg-orange"><a href="{% url 'blog_category_02' %}" title="">Gadgets</a></span>
                                    <h4><a href="tech-single.html" title="">Do not make mistakes when choosing web
                                        hosting</a></h4>
                                    <small><a href="tech-single.html" title="">03 July, 2017</a></small>
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div><!-- end second-side -->

                <div class="last-slot">
                    <div class="masonry-box post-media">
                        <img src="{% static 'upload/tech_03.jpg' %}" alt="" class="img-fluid">
                        <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    <span class="bg-orange"><a href="{% url 'blog_category_02' %}"
                                                               title="">Technology</a></span>
                                    <h4><a href="tech-single.html" title="">The most reliable Galaxy Note 8 images
                                        leaked</a></h4>
                                    <small><a href="tech-single.html" title="">01 July, 2017</a></small>
                                    <small><a href="" title="">by </a></small>
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div><!-- end second-side -->
            </div><!-- end masonry -->
        </div>
    </section>


    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-wrapper">
                        <div class="blog-top clearfix">
                            <h4 class="pull-left">Recent News <a href="#"><i class="fa fa-rss"></i></a></h4>
                        </div><!-- end blog-top -->

                        <div class="blog-list clearfix">
                            <div class="blog-box row">

                                {% for post in page_obj %}
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="{{ post.get_absolute_url }}" title="">
                                                <img src="{{ post.cover.url }}" alt="" class="img-fluid">
                                                <div class="hovereffect">
                                                    <span class=""></span>
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="{{ post.get_absolute_url }}" title="">{{ post.title }}</a></h4>
                                        <p>{{ post.body | slice:"300" }}...</p>
                                        <small><a href="{{ post.get_absolute_url }}"
                                                  title="">{{ post.created.date }}</a></small>
                                        <small><a href="">by
                                            {% if post.author.fullname %}
                                                {{ post.author.fullname }}
                                            {% else %}
                                                {{ post.author.email }}
                                            {% endif %}
                                        </a></small>
                                        <small><a href="{{ post.get_absolute_url }}" title=""><i class="fa fa-eye"></i>
                                            1114</a></small>
                                        <br>
                                        {% if post.author.id == request.user.id %}

                                            <a href="{% url 'blog_update' post.slug %}"><img
                                                    src="{% static 'images/edit.png' %}" alt="edit icon"></a>
                                            <a href="{% url 'blog_delete' post.slug %}"><img
                                                    src="{% static 'images/delete.png' %}" alt="delete icon"></a>
                                        {% endif %}
                                    </div><!-- end meta -->
                                    </div><!-- end blog-box -->

                                    <hr class="invis">

                                    <div class="blog-box row">
                                {% endfor %}

                                <div class="col-md-4">

                                </div><!-- end col -->



                                <hr class="invis">


                                </div><!-- end blog-box -->
                        </div><!-- end blog-list -->
                    </div><!-- end page-wrapper -->

                    <div class="row">

                        <div class="col-md-12">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-start">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a>
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ page_obj.previous_page_number }}">previous</a>
                                    {% endif %}

                                    <span class="current">
				            <li><b class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</li>
                                        </b>
				        </span>

                                    {% if page_obj.has_next %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ page_obj.next_page_number }}">next</a>
                                        <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last
                                            &raquo;</a>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end col -->


                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">

                    {% render_partial 'blog.views.sidebar_component' %}


                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>

{% endblock %}