{% load static %}

<h4 class="small-title">{{ comments_count }} Comment{{ comments_count|pluralize }}</h4>

<div class="row">
    <div class="col-lg-12">
        <div class="comments-list">

            {% for comment in comments %}
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="{% static 'upload/author_01.jpg' %}" alt=""
                             class="rounded-circle"></a>
                    <div class="media-body">
                        <h4 class="media-heading user_name">{{ comment.user.username }}
                            <small>{{ comment.created_on }}</small>
                        </h4>
                        <p>{{ comment.body }}</p>
                        <a class="btn btn-primary btn-sm"
                           onclick="fillParentId({{ comment.id }})">
                            Reply</a>
                    </div>
                </div>
                {% for reply in comment.comment_set.all %}
                    <div class="media last-child">
                        <a class="media-left" href="#">
                            <img src="{% static 'upload/author_02.jpg' %}" alt=""
                                 class="rounded-circle"> </a>
                        <div class="media-body">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                 fill="currentColor" class="bi bi-reply"
                                 viewBox="0 0 16 16">
                                <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.7 8.7 0 0 0-1.921-.306 7 7 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254l-.042-.028a.147.147 0 0 1 0-.252l.042-.028zM7.8 10.386q.103 0 .223.006c.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96z"/>
                            </svg>
                            <small>Replied on: {{ reply.created_on }}</small>
                            <h4 class="media-heading user_name">{{ reply.user.username }}

                            </h4>
                            <p>{{ reply.body }}</p>
                            {#                                                        <a href="#" class="btn btn-primary btn-sm">Reply</a>#}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}

        </div>
    </div><!-- end col -->
</div><!-- end row -->
