{% load static %}


<header class="tech-header header">
    <div class="container-fluid">
        <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'blog_index' %}"><img src="images/version/tech-logo.png"
                                                                       alt=""></a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog_index' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown has-submenu menu-large hidden-md-down hidden-sm-down hidden-xs-down">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">News</a>
                        <ul class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                            <li>
                                 <div class="container">
                                    <div class="mega-menu-content clearfix">

										<div class="tab">
										    {% for tag in latest_tags %}
										        <button class="tablinks" onclick="openCategory(event, '{{ tag.name }}')">
										            {{ tag.name }}
										        </button>
										    {% endfor %}
										</div>
										
										{% for tag, posts in tag_posts.items %}
                                        <div class="tab-details clearfix">
                                            <div id="{{ tag.name }}" class="tabcontent">
                                                <div class="row">
												  {% for post in posts %}
                                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="blog-box">
                                                            <div class="post-media">
                                                                <a href="{{ post.get_absolute_url }}" title="">
                                                                    <img src="{{ post.cover.url }}"
                                                                         alt=""
                                                                         class="img-fluid">
                                                                    <div class="hovereffect">
                                                                    </div><!-- end hover -->
                                                                    <span class="menucat">{{ tag.name }}</span>
                                                                </a>
                                                            </div><!-- end media -->
                                                            <div class="blog-meta">
                                                                <h4><a href="{{ post.get_absolute_url }}" title="">{{ post.title }}</a></h4>
                                                            </div><!-- end meta -->
                                                        </div><!-- end blog-box -->
                                                    </div>
													{% endfor %}

                                                </div><!-- end row -->
                                            </div>
											{% endfor %}
											

                                                    </div>

                                                </div><!-- end row -->
                                            </div>
                                        </div><!-- end tab-details -->
                                    </div><!-- end mega-menu-content -->
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">

                    </li>
                    <li class="nav-item">

                    </li>
                    <li class="nav-item">

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog_contact' %}">Contact Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-2 ">
                    {% if request.user.is_authenticated %}

                        {#Profile Dropdown#}
{#                         <li class="nav-item dropdown has-submenu menu-large hidden-md-down hidden-sm-down hidden-xs-down">#}
{#                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"#}
{#                           aria-haspopup="true" aria-expanded="false">News</a>#}


                        <li class="dropdown has-submenu  hidden-md-down hidden-sm-down hidden-xs-down">
                            <div class="dropdown-toggle" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" > Hi,
                                {% if request.user.username %}
                                    {{ request.user.username }}
                                {% else %}
                                    {{ request.user.email }}
                                {% endif %}</div>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <a class="dropdown-item" href="{% url 'blog_create' %}"> Add new post <img
                                        src="{% static 'images/create.png' %}" alt="Create new post"></a>
                                <a class="dropdown-item" href="{% url 'account:user_change_password_page' %}">Change
                                    password</a>
                                <a class="dropdown-item" href="{% url 'account:user_edit_profile_page' %}">Change
                                    profile info</a>
                                <a class="dropdown-item" href="#">Saved posts</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item btn btn-danger"
                                   href="{% url 'account:logout_page' %}">logout</a>
                            </ul>
                        </li>

                        {#End of profile Dropdown#}


                        </li>
                        <li class="dropdown-menu"><a> Drop</a>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
{#                            <div class="dropdown-divider"></div>#}
                            <a class="dropdown-item" href="#">Separated link</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="" href="{% url 'account:login_page' %}">Login / </a>
                            <a class="" href="{% url 'account:register_page' %}">Register</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">

                    </li>
                    <li class="nav-item">

                    </li>

                </ul>
            </div>
        </nav>
    </div><!-- end container-fluid -->
</header><!-- end market-header -->
